.game-board-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

canvas {
  max-width: 90vw;
  background-color: #fce4ec;
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color: #ff0099;
}
